*{
	--clr1: #464646;
	--clr2: #242424;
}
body {
	justify-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: var(--clr1);
	padding: 1rem 0rem;
	margin: 0rem;
}
h1 {
	height: 4rem;
	font-size: 3rem;
	text-align: center;
	padding: 1rem;
}
